rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Temporary open access for the transaction tracker.
    // Replace these rules after Discord/Firebase Authentication is added.
    match /rp_transactions/{recordId} {
      allow read, create, update, delete: if true;
    }

    // Temporary open access for V2 website and gang settings.
    match /app_settings/{settingId} {
      allow read, create, update, delete: if true;
    }
  }
}
